extends layout

block content
  section.discontinued
    .hero
      h1 Four Hundred and Four
      h2
        | We couldn't find the page you're looking for.
        br
        | There's many reasons for this. We can't possibly name them all.
