extends layout

block content
  section.analytics
    .hero
      .black-banner
        h1 MASSIVE DATA
        h2 Nice ways to track performance and useful ways improve your environment.
        a(href="#", class="btn btn-large btn-default") READ MORE
  hr
  .container
    section
     .row
      .col-xs-12
         h1 Journey Mapping
         h3 Track how people move around your hotspot
      .col-xs-4.text-left
        p Cucumber Tony maps how people move within a hotspot. Get a detailed view of a city to predict street requirements like CCTV and lighting.
        p Or analyse footfall in a shopping centre and measure how many people walk past your store vs. people who step inside. You can even scale it down to predict the flow of people in museums, shops and stadiums.
      .col-xs-2
      .col-xs-6
         img(src="/images/wifi-analytics/wifi-traffic-large.png", class='img img-responsive')

    hr
    section
     .row
      .col-xs-12
         h1 Peeps & Demographics
         h3 Are you popular with boys or girls? Are people local or tourists?
      .col-xs-4.text-left
        p You'll see a profile of each person using your Wi-Fi. This shows you if people are visiting regularly or only dropping in once.  Are visiting across all your locations, or just their local store. And some other stuff like gender and hometown.
        p With all this data you’ll be able to identify and reward loyal fans and build a general profile of who you are servicing.
        a(href="#", class="btn btn-large btn-default") READ MORE
        a(href="#", class="btn btn-large btn-default") SIGN-UP
      .col-xs-2
      .col-xs-6
         img(src="/images/wifi-analytics/wifi-demographics-users.png", class='img img-responsive')

    hr
    section
     .row
      .col-xs-12
         h1 Authorise guests and capture emails.
         h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      .col-xs-4.text-left
        p There are loads of different ways of getting your visitors online.
        p A plain 'ol Wi-Fi password or a Facebook login. Paid Wi-Fi or just a big button that says LOGIN.
        p You can even capture emails by getting everyone to sign up to your newsletter.

        a(href="#", class="btn btn-large btn-default") READ MORE
        a(href="#", class="btn btn-large btn-default") SIGN-UP
      .col-xs-2
      .col-xs-6
         img(src="/images/wifi-features/authorise-guest-wifi.png", class='img img-responsive')

    hr
    section
      .content
         h1 Monitor & manage every access point
         h3 Monitor every Wi-Fi access point in your network remotely. Cucumber Tony has the only real time Wi-Fi activity feed out there, making it even easier to diagnose and fix faults.
         img(src="/images/wifi-features/wifi-analytics-graph-2.png", class='')

    hr
    section
     .row
      .col-xs-12
         h1 Get to know your visitors
         h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      .col-xs-4.text-left
        p What do you know about the people who visit, or even why they visit.
        p Cucumber Tony gets you nice and familiar with your audience by mapping visitor demographics and venue performance. The more you know, the easier it is to keep everyone happy.

        a(href="#", class="btn btn-large btn-default") READ MORE
        a(href="#", class="btn btn-large btn-default") SIGN-UP
      .col-xs-2
      .col-xs-6
         img(src="/images/wifi-features/boys-and-girls.png", class='img img-responsive')

    hr
    section
      .content
        .row.text-left
          .col-xs-12
            h1 More Features
          .col-xs-4
            h4 Create
            ul.list-unstyled
              li
                a(href="#", class="") Hotspot Locations
              li
                a(href="#", class="") Managing Hardware
              li
                a(href="#", class="") Grow Your Network
              li
                a(href="#", class="") Quick Location Creation

            h4 Secure
            ul.list-unstyled
              li
                a(href="#", class="") Public & Private Access
              li
                a(href="#", class="") Firewall Rules
              li
                a(href="#", class="") Traffic Control
              li
                a(href="#", class="") Content Filtering
              li
                a(href="#", class="") Stay Safe Online
              li
                a(href="#", class="") Blocking Users

          .col-xs-4
            h4 Design
            ul.list-unstyled
              li
                a(href="#", class="") Login Pages
              li
                a(href="#", class="") Mobile Ready
              li
                a(href="#", class="") Email Capture
              li
                a(href="#", class="") Socialise
              li
                a(href="#", class="") Message

            h4 Monitor
            ul.list-unstyled
              li
                a(href="#", class="") Usage Reports
              li
                a(href="#", class="") Realtime Updates
              li
                a(href="#", class="") Crash Alerts
              li
                a(href="#", class="") Speed Checks
              li
                a(href="#", class="") Staying Healthy

          .col-xs-4
            h4 Configure
            ul.list-unstyled
              li
                a(href="#", class="") Access Methods
              li
                a(href="#", class="") Timed Access
              li
                a(href="#", class="") Email Capture

                a(href="#", class="") Download Limits
              li
                a(href="#", class="") Time of Day Restrictions

            h4 Analyse
            ul.list-unstyled
              li
                a(href="#", class="") Peeps & Demographics
              li
                a(href="#", class="") Journey Mapping
              li
                a(href="#", class="") Hangouts
              li
                a(href="#", class="") Explorers

