extends layout

block content
  section.analytics
    .hero
      .black-banner
        h1 MASSIVE DATA
        h2 Nice ways to track performance and useful ways improve your environment.
        br
        .next(data-next="journeys")
          a(href="#", class="btn btn-large btn-default btn-white-txt") READ MORE
  hr#journeys
  .container
    section
     .row
      .col-xs-12
         h1 Journey Mapping
         h3 Track how people move around your hotspot
      .col-xs-12
        p Cucumber Tony maps how people move within a hotspot. Get a detailed view of a city to predict street requirements like CCTV and lighting.
        p Or analyse footfall in a shopping centre and measure how many people walk past your store vs. people who step inside. You can even scale it down to predict the flow of people in museums, shops and stadiums.

  hr#hangouts
  section.flows
    .hero
      .content
        h1 Hangouts
        h2 Analyse increases in traffic throughout the day.
        .flows-block
          p Heat maps of your Wi-Fi access points show you the most popular sites by hour, day, month or year. Helping you decide if a shop window is working. You can even scale it down and view usage by access points so you can see which areas of your building are busiest.


  hr
  section#explorers
    .content
      h1 Explorers
      h2
        | People who visit lots of different businesses as well as yours are called Explorers.
        br
        | Cucumber Tony shows you the types of places people visit when they're not with you.

      h3 From this data you can build a profile of your audience's tastes. Do they like shopping on the high street or in shopping centres? Visiting restaurants or libraries?
      img(src="/images/wifi-analytics/retail-analytics-highstreet.png", class='')

  hr
  section
    .content
      h1 Importing your data
      h2 Want to visualise your existing data? Just put it in Cucumber Tony.

      h3 Lots of wireless access points capture data. You can input your exsiting data into Cucumber Tony to visualise and analyse.

      p
        | If you'd like something bespoke analysed, &nbsp;
        a(href="/contact") get in touch.



