extends layout

block content
  section.more-features
    include more-features-header
  hr#access
  .container
    section
     .row
      .col-xs-12
        h1 Control how your guests connect
        h3 Everything you need to offer a sophisticted Wi-Fi network without the fuss. From login pages to events.
        hr

      .col-xs-6.text-left
        h2 Pick a login method
        p There are lots of different ways for people to connect.
        p
          b Clickthrough&nbsp;
          | is great if you're busy and just want people to connect easily. There's just a big button to click and connect.

        p
          b Facebook or social media logins&nbsp;
          | let people connect to your Wi-Fi using their Facebook account. As they login they can 'Checkin' or leave a message on your wall which all their friends will see.

        p
          b Password access&nbsp;
          | (like the good old days). You create a password and change it as you need. You can even set it to change automagically daily.

        p
          b Vouchers&nbsp;
          | are great if you want to restrict how long people can connect. Create a batch of codes and give them away or sell at the till.

        p
          b Paid access&nbsp;
          | lets you profit directly from your Wi-Fi. Let users purchase time directly with PayPal straight from your login pages.




      .col-xs-6.features-image
         img(src="/images/wifi-features/more-wifi-features/wifi-login-method.png", class='img img-responsive')

    hr#timed
    section
     .row
      .col-xs-6
         img(src="/images/wifi-features/more-wifi-features/wifi-restrict-time.png", class='img img-responsive')

      .col-xs-6.text-left
        h2 Table Management
        p Offer users unlimited or timed Wi-Fi.

        p You set how how long people can connect for and once their time has run out they'll be logged off automatically.

        p Once someone's time has expired they'll need to log back on.

        p To manage this you can use a stricter access method for the second login, like a voucher code which encourages people to come to the counter.  Or charge for extra time online.

    hr#restrictions
    section
     .row

      .col-xs-6.text-left
        h2 Speed Limits
        p Setting a speed limit will help your broadband bandwidth go further by stopping anyone from hogging your bandwidth.

        p Tip: 512 Kbps of bandwidth is about right for browsing the Internet. You'll need 3-5 Mbps to stream video.

      .col-xs-6
        img(src="/images/wifi-features/more-wifi-features/wifi-speed-restrictions.png", class='img img-responsive')

    hr#events
    section
     .row

      .col-xs-6
        img(src="/images/wifi-features/more-wifi-features/time-of-day-limits.png", class='img img-responsive')
      .col-xs-6.text-left
        h2 Your Opening Hours
        p If you open 9am to 5pm, then so should your Wi-Fi hotspot.

        p Cucumber Tony lets you automate when each of your wireless network is available. Your network will be hidden from users when you're closed, and available when you're open.


    include more-features-footer
