extends layout

block content
  section.more-features
    .hero
      .content
        h1 More Stuff to Play With
        h2 Every plan includes our core-features; social logins, captive portal, rocket-powered cloud control and analytics. Peruse all the features below.
        include more-features-header
  hr
  .container
    section
     .row
      .col-xs-12
        h1 Create new Wi-Fi hotspots anytime, anywhere
        h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        hr

      .col-xs-6.text-left
        h2 Your First Location
        p Create a new Wi-Fi hotspot location and it will appear  on map helping you manage all your hotspots remotely.

        p It takes seconds. Using the power of the Internet and some geo magic you don't even have to type your address. Lazy...

      .col-xs-6
         img(src="/images/wifi-features/more-wifi-features/wifi-location-map.png", class='img img-responsive')

    hr
    section
     .row
      .col-xs-6
         img(src="/images/wifi-features/more-wifi-features/add-wifi-box-modal.png", class='img img-responsive')

      .col-xs-6.text-left
        h2 Managing Hardware
        p Once you've created your Wi-Fi location, assign all your Wi-Fi boxes to the location. You can now control each Wi-Fi box individually or per location.

    hr
    section
     .row

      .col-xs-6.text-left
        h2 Duplicate Locations in Seconds
        p Add new locations to your dashboard quickly and easily. Just duplicate an existing  hotspot and tweak the settings to fit.

        p Soon you Wi-Fi network will have taken over the world.


      .col-xs-6
        img(src="/images/wifi-features/more-wifi-features/wifi-hotspot-world-map.png", class='img img-responsive')



    include more-features-footer
