extends layout

block content
  section.more-features
    .hero
      .content
        h1 More Stuff to Play With
        h2 Every plan includes our core-features; social logins, captive portal, rocket-powered cloud control and analytics. Peruse all the features below.
        include more-features-header
  hr
  .container
    section
     .row
      .col-xs-12
        h1 Design beautiful login pages
        h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        hr

      .col-xs-4.text-left
        h2 It's Your Design
        p Pick a layout template and simply add images and text. There's space for advertsing and newsfeeds. Or start from scratch and integrate your own code.


      .col-xs-8
         img(src="/images/wifi-features/more-wifi-features/white-label-login-pages.png", class='img img-responsive')

    hr
    section
     .row
      .col-xs-8
         img(src="/images/wifi-features/more-wifi-features/responsive-logins.png", class='img img-responsive')

      .col-xs-4.text-left
        h2 Mobile Ready
        p All login pages are responsive, in fact they might even look better on a mobile.

    hr
    section
     .row

      .col-xs-4.text-left
        h2 Say Something Nice
        p Write a few words to welcome your users.

        p You can treat your login page a bit like a newsletter. Promote your latest events and happenings.


      .col-xs-6
        img(src="/images/wifi-features/more-wifi-features/say-something-nice.png", class='img img-responsive')



    include more-features-footer
