extends layout

block content
  section.more-features
    include more-features-header

  hr#login-pages
  .container
    section
     .row
      .col-xs-12
        h1 Design beautiful login pages
        h3 Customising your login page is easy. There's no PS logo so it's totally up to you what they look like.
        hr

      .col-xs-4.text-left
        h2 It's Your Design
        p Pick a layout template and simply add images and text. There's space for advertising and newsfeeds. Or start from scratch and integrate your own code.
        p You can even use our fancy captive portal with other manufacturer's devices including Ruckus, Aruba, Xirrus, Cisco Meraki and OpenMesh.


      .col-xs-8
         img(src="/images/wifi-features/more-wifi-features/white-label-login-pages.png", class='img img-responsive')

    hr#mobile
    section
     .row
      .col-xs-8
         img(src="/images/wifi-features/more-wifi-features/responsive-logins.png", class='img img-responsive')

      .col-xs-4.text-left
        h2 Mobile Ready
        p All login pages are responsive, in fact they might even look better on a mobile.
        p 79% of people connect via a mobile device or tablet so they should be clear and easy to use. You don't want to have to zoom in to click and connect. Even the fattest of fingers can get online.




    hr#message
    section
     .row

      .col-xs-4.text-left
        h2 Say Something Nice
        p Write a few words to welcome your users.

        p You can treat your login page a bit like a newsletter. Promote your latest events and happenings.


      .col-xs-6
        img(src="/images/wifi-features/more-wifi-features/say-something-nice.png", class='img img-responsive')



    include more-features-footer
