extends layout

block content
  section.features
    .hero
      .content.black-banner
        h1 Cloud-managed Wi-Fi for everyone.
        h2
          | Cucumber Tony, our magnificent cloud-based portal, gives you everything you need to manage your Wi-Fi networks.
          br
          | From branded login pages and email capture to advanced networking tools and retail analytics.
        br
        .next(data-next="main")
          a(href="#", class="btn btn-large btn-success") READ MORE
  hr#main
  .container
    section
      .row
        .col-xs-12
          h1 Create Wi-Fi Networks Anysize, Anywhere.
          h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      .row
        .col-xs-6.text-left
          p Create new Wi-Fi locations and manage them from one dashboard.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
          a(href="#", class="btn btn-large btn-default") READ MORE
          a(href="#", class="btn btn-large btn-default") SIGN-UP

        .col-xs-6
          img(src="/images/wifi-features/wifi-hotspot-map.png", class='img img-responsive')

    hr
    section
     .row
      .col-xs-12
         h1 Design beautiful login pages
         h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      .col-xs-6.text-left
        p Pick a layout template add your own images and text. All login pages are responsive, in fact they might even look better on a mobile.
        p You can use the captive portal with other manufacturer's devices including Ruckus, Aruba, Xirrus, Cisco Meraki and OpenMesh.
        a(href="#", class="btn btn-large btn-default") READ MORE
        a(href="#", class="btn btn-large btn-default") SIGN-UP
      .col-xs-6.text-center
         img(src="/images/wifi-features/iphone-wifi-login.png", class='img img-responsive')

    hr
    section
     .row
      .col-xs-12
         h1 Authorise guests and capture emails.
         h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      .col-xs-6.text-left
        p There are loads of different ways of getting your visitors online.
        p A plain 'ol Wi-Fi password or a Facebook login. Paid Wi-Fi or just a big button that says LOGIN.
        p You can even capture emails by getting everyone to sign up to your newsletter.

        a(href="#", class="btn btn-large btn-default") READ MORE
        a(href="#", class="btn btn-large btn-default") SIGN-UP
      .col-xs-6
         img(src="/images/wifi-features/authorise-guest-wifi.png", class='img img-responsive')

    hr
    section
      .row
        .col-xs-12
          h1 Monitor & manage every access point
          h3 Monitor every Wi-Fi access point in your network remotely. Cucumber Tony has the only real time Wi-Fi activity feed out there, making it even easier to diagnose and fix faults.
          img(src="/images/wifi-features/wifi-analytics-graph-2.png", class='')

    hr
    section
      .row
        .col-xs-12
          h1 Public &amp; Private Networks
          br
      .row
        .col-xs-6.text-left
          p You can create multiple networks for different activites. One for private use one for your applications like your tills and sound system and one for guest to access. So you'll always be seperate from your guests.

        .col-xs-6.text-center
           img(src="/images/wifi-features/more-wifi-features/public-private-networks.png", class='img img-responsive')

    hr
    section
      .row
        .col-xs-12
          h1 Get to know your visitors
          h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        .col-xs-6.text-left
          p What do you know about the people who visit, or even why they visit.
          p Cucumber Tony gets you nice and familiar with your audience by mapping visitor demographics and venue performance. The more you know, the easier it is to keep everyone happy.

          a(href="#", class="btn btn-large btn-default") READ MORE
          a(href="#", class="btn btn-large btn-default") SIGN-UP
        .col-xs-6.text-center
          img(src="/images/wifi-features/boys-and-girls.png", class='img img-responsive')

    include more-features-footer
