extends layout

block content
  section
  hr
  .container
    section
     .row
      .col-xs-12
        h1 Download Stinky Panda
        h3 Stinky Panda is the first release of our Open Source firmware. Install this on your compatible access points and you'll be able to use the Cucumber Tony dashboard. Simple.
      .col-xs-4
        img(src='../images/wifi-firmware/sinky-panda-wifi-firmware.png', class='img img-responsive')
      .col-xs-4
        img(src='../images/wifi-firmware/download-arrows.png', class='img img-responsive wifi-download' width="150px")
      .col-xs-4
        img(src='../images/wifi-firmware/wifi-router.png', class='img img-responsive')
    .row
      .col-xs-4
        h3 Step 1. Create an Account
        p Sign-up for a Cucumber Tony account to manage all your Wi-Fi locations and hotspots from a single dashboard.

      .col-xs-4
        h3 Step 2. Add your Wi-Fi box
        p Download the firmware for free. This lets you sync your access points with Cucumber Tony. Awesomes.

      .col-xs-4
        h3 Step 3. Remote Control
        p Turn an every day router into a super box. With powerful features, reports, analytics and gizmos galore.

    hr#compatible
    section
      .row
        .col-xs-12
          h1 Compatible Access Points
          p The following devices are fully compatible with Cucumber Tony. This means you can cloud-manage every aspect of your Wi-Fi networks.

      .row

        .col-xs-3
        .col-xs-3.text-left
          h4 Ubiquiti
          ul.list-unstyled
            li Ubiquiti AirRouter
            li Ubiquiti UniFi AP
            li Ubiquiti UniFi Pro
            li Ubiquiti UniFi AP Outdoor

        .col-xs-3.text-left
          h4 Netgear
          ul.list-unstyled
            li Netgear WNDR3800*

          h4 Western Digital
          ul.list-unstyled
            li My Net N600*

      .row
        .col-xs-12
          h1 Compatible With Captive Portal and Analytics
          p If you want to take advantage of our reports and captive portal, here's a list devices that are compatible with Cucumber Tony.

          ul.list-unstyled.list-inline
            li Aruba
            li OpenMesh
            li Cisco Meraki
            li Xirrus
          p.small
            | You'll want to drop us a line about adding these to CT while we craft the docs.



    section
      .row
        .col-xs-12
          p.small * Firmare available on pre-release. Just email oh@polkaspots.com to request the pre-release version


