extends layout

block content
  section
  hr
  .container
    section
     .row
      .col-xs-12
        h1 Download Stinky Panda
        h4 Stinky Panda is the first release of our Open Source firmware. Install this on your compatible access points and you'll be able to use the Cucumber Tony dashboard. Simple.
      .col-xs-4
        img(src='../images/wifi-firmware/sinky-panda-wifi-firmware.png', class='img img-responsive')
      .col-xs-4
        img(src='../images/wifi-firmware/download-arrows.png', class='img img-responsive wifi-download')
      .col-xs-4
        img(src='../images/wifi-firmware/wifi-router.png', class='img img-responsive')
    .row
      .col-xs-4
        h3 Step 1. Create an Account
        p Set up an account online and manage all your Wi-Fi locations around the world.

      .col-xs-4
        h3 Step 2. Add your Wi-Fi box
        p Download the firmware for free and to sync your access points to your account.

      .col-xs-4
        h3 Step 3. Remote Control
        p Instantly your box becomes a mega-router with powerful features and reports.

    hr#compatible
    section
      .row
        .col-xs-12
          h1 Compatible Access Points
          p The following devices are fully compatible with Cucumber Tony. This means you can cloud-manage every aspect of your Wi-Fi networks.

      .row

        .col-xs-3
        .col-xs-3.text-left
          h4 Ubiquiti
          ul.list-unstyled
            li Ubiquiti AirRouter
            li Ubiquiti UniFi AP
            li Ubiquiti UniFi Pro
            li Ubiquiti UniFi AP Outdoor
            li Ubiquiti UniFi Long Range
            li Ubiquiti UniFi Nanostation M2
            li Ubiquiti UniFi Bullet M2

        .col-xs-3.text-left
          h4 Netgear
          ul.list-unstyled
            li Netgear WNDR3800*

          h4 Western Digital
          ul.list-unstyled
            li My Net N600*

      .row
        .col-xs-12
          h1 Compatible With Captive Portal and Analytics
          p If you want to take advantage of our reports and captive portal, here's a list devices that are compatible with Cucumber Tony.

          ul.list-unstyled.list-inline
            li Aruba
            li OpenMesh
            li Cisco Meraki
            li Xirrus



    section
      .row
        .col-xs-12.text-left
          p.small * Firmare available on pre-release. Just email oh@polkaspots.com to request the pre-release version


