.container
  .row.text-left
    .col-xs-4
      h2 More Stuff
      ul.list-unstyled
        li
          a(href='/blog') Blog
        li
          a(href='http://support.polkaspots.com') Help &amp; Support
        //li
        //  a(href='http://support.polkaspots.com') Wi-Fi Lessons
        li
          a(href='/opensource-wifi-firmware') Stinky Panda (Firmware)
        li
          a(href='/opensource-wifi-firmware#compatible') Compatible Devices
        li
          a(href='/captive-portal', title='meraki captive portak, Ruckus captive portal') Captive Portal
        li
          a(href='/shop') Buy a Box
        //li
        //  a(href='/family') Meet The Family
        li
          a(href='/cucumber-tony') Meet Cucumber Tony
        li
          a(href='http://support.polkaspots.com') Le Terms
        li
          a(href='http://status.polkaspots.com') System Status
        li
          a(href="/thanks") Image Attribution
      hr.grey-line
      .status_page

    .col-xs-4
      h2 Get in Touch
      p We're based in East London, UK
      p
        | 62 Britton Street
        br
        | London EC1M 5UY

      p
        | Call: +44(0)20 7183 1471
        br
        | Email: hello@polkaspots.com
      p
        | Twitter:&nbsp;
        a(href="http://twitter.com/polkaspots", target="_blank") @polkaspots
        br
        | Facebook:&nbsp;
        a(href='http://facebook.com/polkaspots', target="_blank") facebook.com/polkaspots

      hr.grey-line
      p
        | We're a limited company and our company number is 05508105. We've been told our VAT number is 127790200
      p
        | We're registered in the UK at the above address. Fancy pants.


    .col-xs-4
      h2 Ahoy Captain
      p For pleasantly infrequent news and update, put your email in here:
      include campaign_monitor.html

      hr.grey-line
      p.small
        | Written exclusively with vim, hosted on Heroku and powered with NodeJS. We&nbsp;
        i.fa.fa-heart &nbsp;
        | open-source and all things digital. We love you too, promise.

