extends layout

block content
  section.how-wifi-works
    .hero
      h1.white Create Massive Wi-Fi Networks in Minutes
  hr
  .container
    section
     .row
      .col-xs-12
         h3.white
           | Creating a hotspot is easy, there's no contract and, if you have a&nbsp;
           a(link='/compatible-access-points') compatible access point
           | , you don't even need to buy any extra hardware. Here's how you get awesome Wi-Fi that doesn't suck serious butt.
      .col-xs-12.text-left
        br
        br
        br
        br
        h3
          | Get started in three easy steps...
      .col-xs-4.text-left
        h2.red Step 1. Create an Account
        p
          a(href="/signup") Create a Cucumber Tony account.&nbsp;
          | This'll let you manage all your Wi-Fi locations and access points from anywhere.

      .col-xs-4.text-left
        h2.red Step 2. Add a Box
        p
          | Sync your access points with Cucumber Tony. Lots of models are compatible, you can&nbsp;
          a(href="/opensource-wifi-firmware") check the list here.

      .col-xs-4.text-left
        h2.red Step 3. Customise, Analyse
        p Start customising your settings, monitoring performance and analysing that data. Like we said, cool potatoes.


    hr
    section
     .row
      .col-xs-12
        h1 Where Do I Install My Wi-Fi?
        h3 You've got the box, a CT account but where's the best place to install them?
        p To get the best coverage install each box in the most central point of the room. The ceiling or high up on the wall.

        p Signal strength doesn't change much from brand to brand, but walls and doors will block your signal. You'll need multiple access points if you have a big space with lots of rooms.
    .content


        img(src="/images/how-wifi-works/wifi-plan.png", class='')

      br
    hr
    section
     .row
      .col-xs-12
        h3 You've read all that, good for you. Now go and have a look at the plans.
        a(href='/plans', class='btn btn-default btn-lg') Le Plans

    hr

