extends layout

block content
  section.how-wifi-works
    .hero
      h1 Create Massive Wi-Fi Networks in Minutes
  hr
  .container
    section
     .row
      .col-xs-12
         h3
           | Creating a hotspot is easy, there's no contract and, if you have a&nbsp;
           a(link='/compatible-access-points') compatible access point
           | , you don't even need to buy any extra hardware. Here's how you get awesome Wi-Fi that doesn't suck serious butt.
      .col-xs-4.text-left
        h2.red Step 1. Create an account
        p Set up an account online and manage all your Wi-Fi locations around the world.

      .col-xs-4.text-left
        h2.red Step 2. Add a box
        p
          Sync your access points to your account. Lots of models are compatible -&nbsp;
          a(href="/opensource-wifi-firmware") check the list here.

      .col-xs-4.text-left
        h2.red Step 3. Customise, Analyse
        p Start customising your settings, monitoring performance and analysing that data.


    hr
    section
     .row
      .col-xs-12
        h1 Where Do I Install My Wi-Fi?
        p To get the best coverage install each box in the most central point of the room. The ceiling or high up on the wall.

        p Signal strength doesn't change much from brand to brand, but walls and doors will block your signal. You'll need multiple access points if you have a big space with lots of rooms.
    .content


        img(src="/images/how-wifi-works/wifi-plan.png", class='')

        br
        a(href='#', class='btn btn-success btn-lg') More Information


