extends home_layout

block content
  main#home
    section#slide-1.homeSlide
      .bcg(data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px; ', data-anchor-target='#slide-1')
        .hsContainer
          .hsContent(data-center='opacity: 1', data-106-top='opacity: 0', data-anchor-target='#slide-1 h1')
            h1
              | Awesome Wi-Fi for Everyone
              br
              | Analytics for you. Cool potatoes.
            h3
              | Start doing it with Cucumber Tony today
            .scroll
              .chevron.next(data-next="slide-2")
                i.fa.fa-chevron-down.fa-2x(data-next='slide-2')

    section#slide-2
      .bcg(data-0='background-color:rgb(236,87,36);', data--1600-top='background-color:(237,42,139);', data-anchor-target='#slide-2')
        .hsContainer
          .hsContent
            h2(data-center='opacity: 1', data--200-bottom='opacity: 0', data-206-top='opacity: 1', data-106-top='opacity: 1', data-56-top='opacity: 0', data-anchor-target='#slide-2 h2')
              | Ready to roll in under 60 seconds.
            p(data-center='opacity: 1', data--200-bottom='opacity: 0', data-206-top='opacity: 1', data-106-top='opacity: 0', data-anchor-target='#slide-2 h2')
              | Buy a Wi-Fi box or use a compatible device. Plug it in and off you go.

    section#slide-3.homeSlide
      div.bcg(data-center='background-position: 0px 50%;', data-bottom-top='background-position: 0px 40%;', data-top-bottom='background-position: 0px 30%;', data-anchor-target='#slide-3')
        div.hsContainer
          div.hsContent
            div.skLookMum(data-1='opacity: 0;', data-106-top='opacity: 0', data--30p-top='opacity: 0.8;', data--40p-top='opacity: 0; top: 100px;', data-bottom='opacity: 0.8; position: fixed; top: 306px; width: 100%; left: 0;', data-anchor-target='#slide-3')

              .row
                .col-xs-12
                  h2 Hey ho, let's go

                .col-xs-12.col-sm-12.col-md-12.col-lg-4
                  h4
                    | Step 1. Create Account
                  p
                    span.bgBlack
                      | Set up an account online and manage all your Wi-Fi locations around the world.

                .col-xs-12.col-sm-12.col-md-12.col-lg-4
                  h4
                    | Step 2. Get a Box
                  p
                    span.bgBlack
                      | Sync your access points to your account. Lots of models are compatible - check the list here.

                .col-xs-12.col-sm-12.col-md-12.col-lg-4
                  h4
                    | Step 3. Customise. Analyse.
                  p
                    span.bgBlack
                      | Start customising your settings, monitoring performance and analysing that data.

                .col-xs-12
                  br
                  br
                  a(href='#', class="btn btn-default") Sign-up

    section#slide-4.homeSlide
      div.bcg(data-center='background-position: 50% 0px;', data-bottom-top='background-position: 50% 100px; ', data-top-bottom='background-position: 50% -100px;', data-anchor-target='#slide-4')
        div.curtainContainer
          div.curtain(data-bottom-top='opacity: 0', data-106-top='height: 1%; opacity: 0; top: -10%;', data-center='height: 100%; opacity: 0.5; top: 0%;', data-anchor-target='#slide-4')
          div.copy(data-bottom-top='opacity: 0', data--100-bottom='opacity: 0', data--280-bottom='opacity: 1;', data-280-top='opacity: 1;', data-106-top='opacity: 0;', data-anchor-target='#slide-4 .copy')
            h2 Predict flows of traffic
            h3 Stick this in your pipe. Using the data from your Wi-Fis, you can predict movement, watch flows of people and measure the pulse of your city.


    section#slide-5.homeSlideTall
      div.bcg(data-2000='background-position: 50% 180px;', data-2300='background-position: 50% 180px; ', data-3400='background-position: 50% 180px;', data-anchor-target='#slide-5')
        #easing_wrapper(data-0='display:none;', data-2800='display:block; top: 100px; opacity: 1', data-3400='opacity: 0;')
          #easing
            h1 Introducing Cucumber Tony. Hey Tony.
            h3 Tony is probably the most awesome dashboard in the world. You use it to manage, monitor and control all your Wi-Fi devices. Need to update some setting while you're chilling with your homies? No problem, Tony will get that done in seconds.
            br


        #easing_wrapper.hidden-xs.hidden-sm(data-0='display:none;', data-3400='opacity:0; display: block;', data-3600='top: 200px; opacity: 1.0', data-4200='opacity: 0;')
          #easing
            h1 Stick Something Awesome In There
            h3 Tony is probably the most awesome dashboard in the world. You use it to manage, monitor and control all your Wi-Fi devices. Need to update some setting while you're chilling with your homies? No problem, Tony will get that done in seconds.
            br

  section#slide-6.homeSlide.homeSlideTall2
    .bcg(data-4200='background-color:rgb(51,0,51);', data-4400='background-color:(0,0,0);', data-anchor-target='#slide-6')
      .hsContainer
        .hsContent
          #easing_wrapper
            #easing(data-0='display:none;', data-4400='display:block; position: fixed; top: 200px; opacity: 1', data-5300='opacity: 0;')
              h2 We built this city on rock and roll
              p Here's some of our amazing customers who are helping us build the magic.

              br
              br
              .col-xs-3
                | One

              .col-xs-3
                | One

              .col-xs-3
                | One

              .col-xs-3
                | One

            #easing(data-0='display:none;', data-5300='display: block; top: 200px; opacity: 1')
              h2 Meet the Family
              p From A-Z, here's some of the special people who've done it with Tony more than once.

              br
              br
              br
              br
              br
              br

              h3 For more information about Cucumber Tony...
              a(href="/features", class='btn btn-lg btn-default btn-light-txt') Read More.
               



