extends home_layout
block content
  main#home
    section#slide-1.homeSlide
      .bcg(data-center='background-position: 50% 0px;', data-top-bottom='background-position: 50% -100px; ', data-anchor-target='#slide-1')
        .hsContainer
          .hsContent(data-center='opacity: 1', data-106-top='opacity: 0', data-anchor-target='#slide-1 h1')
            .hsBanner
              h1
                | Awesome Wi-Fi for Everyone
                br
                | Analytics for you. Cool potatoes.
              h3
                | Start doing it with Cucumber Tony today
              br
              br
              .next(data-next="slide-2")
                span(class="btn btn-default btn-large btn-white-txt") Read More
              .scroll
                .chevron.next(data-next="slide-2")
                  i.fa.fa-chevron-down.fa-2x(data-next='slide-2')

    section#slide-2
      .bcg(data-0='background-color:rgb(236,87,36);', data--1600-top='background-color:(237,42,139);', data-anchor-target='#slide-2')
        .hsContainer
          .hsContent
            h2(data-center='opacity: 1', data--200-bottom='opacity: 0', data-206-top='opacity: 1', data-06-top='opacity: 1', data-56-top='opacity: 0', data-anchor-target='#slide-2 h2')
              | Ready to roll in under 60 seconds.
            p.white(data-center='opacity: 1', data--200-bottom='opacity: 0', data-206-top='opacity: 1', data-06-top='opacity: 0', data-anchor-target='#slide-2 h2')
              | Buy a Wi-Fi box or use any compatible device. Plug it in and off you go. Simple. Secure. Fast Wi-Fi.
              br
              | (Keep scrolling)

    section#slide-3.homeSlide
      div.bcg(data-center='background-position: 0px 50%;', data-bottom-top='background-position: 0px 40%;', data-top-bottom='background-position: 0px 30%;', data-anchor-target='#slide-3')
        div.hsContainer
          div.hsContent
            div.skLookMum(data-1='opacity: 0;', data-106-top='opacity: 0', data--30p-top='opacity: 0.8;', data--40p-top='opacity: 0; top: 100px;', data-bottom='opacity: 0.8; position: fixed; top: 306px; width: 100%; left: 0;', data-anchor-target='#slide-3')

              .row
                .col-xs-12
                  h2 Hey ho, let's go

                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                  h4
                    | Step 1. Create Account
                  p
                    span.bgBlack
                      | Set up an account online and manage all your Wi-Fi locations around the world.

                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                  h4
                    | Step 2. Get a Box
                  p
                    span.bgBlack
                      | Sync your access points to your account. Lots of models are compatible -&nbsp;
                      a(href='/opensource-wifi-firmware') check the list here.

                .col-xs-12.col-sm-12.col-md-4.col-lg-4
                  h4
                    | Step 3. Customise. Analyse.
                  p
                    span.bgBlack
                      | Start customising your settings, monitoring performance and analysing that data.

                .col-xs-12
                  br
                  br
                  a(href='/signup', class="btn btn-default") Sign-up

    section#slide-4.homeSlide
      div.bcg(data-center='background-position: 50% 0px;', data-bottom-top='background-position: 50% 100px; ', data-top-bottom='background-position: 50% -100px;', data-anchor-target='#slide-4')
        div.curtainContainer
          div.curtain(data-bottom-top='opacity: 0', data-106-top='height: 1%; opacity: 0; top: -10%;', data-center='height: 100%; opacity: 0.5; top: 0%;', data-anchor-target='#slide-4')
          div.copy(data-bottom-top='opacity: 0', data--100-bottom='opacity: 0', data--280-bottom='opacity: 1;', data-280-top='opacity: 1;', data-106-top='opacity: 0;', data-anchor-target='#slide-4 .copy')
            h2 Predict flows of traffic
            h3.white Stick this in your pipe. Using the data from your Wi-Fis, you can predict movement, watch flows of people and measure the pulse of your city.


    section#slide-5.homeSlideTall
      div.bcg(data-0="display: none;", data-2400='display: block; background-position: 50% 180px; ', data-3600='background-position: 50% 180px;', data-anchor-target='#slide-5')
        #easing_wrapper(data-0='display:none;', data-3200='display:block; top: 100px; opacity: 1', data-4000='opacity: 0; display: none;')
          #easing
            h1 Introducing Cucumber Tony. Hey Tony.
            h3 Sync your Wi-Fi access points to Tony, the most awesome Wi-Fi dashboard in the world. Use it to manage, monitor and control all your Wi-Fi devices. Tony has everything, from branded login pages to retail analytics.
            br

        .ie-hidden
          #easing_wrapper.hidden-xs.hidden-sm(data-0='display:none;', data-2400="display: none;", data-3600='opacity:0;  display: none;', data-4000='top: 200px; opacity: 1.0 display: block;', data-4200='opacity: 0;')
            #easing

              h1 Enterprise Features, Everyday Hardware
              h3 We're building in some seriously cool things to make your lives better. And best of all, new features appear automatically, there's no need to replace your old hardware. From small cafes to city centres, we've got you covered.
              br

  section#slide-6.homeSlide.homeSlideTall2
    .bcg(data-4400='background-color:rgb(51,0,51);', data-4600='background-color:(0,0,0);', data-anchor-target='#slide-6')
      .hsContainer
        .hsContent
          #easing_wrapper
            #easing(data-0='display:none;', data-4400='display: none;', data-4900='display:block; position: fixed; top: 200px; opacity: 1', data-5200="opacity: 1;", data-5600='opacity: 0;')
              h2 We built this city on rock and roll
              p Here's some of our amazing customers who are helping us build the magic.
              img(src="../images/wifi-customers/customers.png", class="img img-responsive text-center")
              br
              br


  section#slide-6.homeSlide.homeSlideTall2
    .bcg
      .hsContainer
        .hsContent
          #easing_wrapper
            #easing(data-0='display:none;', data-5400="opacity: 0; display: none;", data-5600='display: block; top: 200px; opacity: 1')
              h2 Meet the Family
              p From A-Z, here's some of the special people who've done it with Tony more than once.

              img(src="/images/staff/us.png", class="img img-responsive text-center staff")


              h3 But who cares about that lot when you could read about me, Cucumber Tony...
              a(href="/features", class='btn btn-lg btn-default btn-light-txt') Read More

