doctype html
html
  head
    title
      | #{title} | PolkaSpots Supafly Wi-Fi
    meta(name='description', content='#{description}')
    meta(name='keywords', content='#{keywords}')
    <!-- meta(name='viewport', content='initial-scale=1.0') -->
    link(type='text/plain', rel='author', href='http://polkaspots.com/humans.txt')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/polkaspots.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/modernizr.js')
    include typekit.html

  body.loading
    include header-nav
    .main
      block content


      footer#footer
        include footer


    script(type='text/javascript', src='/javascripts/enquire.js')
    script(type='text/javascript', src='/javascripts/imagesloaded.js')
    script(type='text/javascript', src='/javascripts/polkaspots.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    include olark.html
    include statuspage.html
    include google.html
    include typekit.html
    include search.html
