extends layout

block content
  section.more-features
    include more-features-header

  hr#usage-reports
  .container
    section
     .row
      .col-xs-12
        h1 Watch Over Your Network
        h3 Keep an eye on things remotely. Get email and SMS alerts when things go awry. Ok captain.
        hr

      .col-xs-6.text-left
        h2 Usage Reports
        p Monitor the visits to your hotspot to identify any downtime or problem connections. If you can see that 50 people are online you know everything is A-OK. If there's a drop in connections you may have a problem.


      .col-xs-6
         img(src="/images/wifi-features/more-wifi-features/wifi-usage-reports.png", class='img img-responsive')

    hr#realtime
    section
     .row
      .col-xs-6
         img(src="/images/wifi-features/more-wifi-features/live-status-feed.png", class='img img-responsive')

      .col-xs-6.text-left
        h2 Realtime Updates
        p Cucumber Tony continuously monitors every Wi-Fi box. The box's 'heartbeat' shows if it's connected and working. If it stops heartbeating, you'll know the exact moment it went offline, information you need to diagnose a fault quickly and easily.

    hr#crash-alerts
    section
     .row

      .col-xs-6.text-left
        h2 Crash Alerts
        p Research shows that 67% of Wi-Fi malfunctions are down to a dodgy broadband service, or the router just being unplugged (to connect a mobile phone).
        p If your box gets disconnected, Cucumber Tony will text or email you an alert. He'll even let you know when it's back on again.



      .col-xs-6
        img(src="/images/wifi-features/more-wifi-features/crash-alerts.png", class='img img-responsive')

    hr#speedtests
    section
     .row

      .col-xs-6
        img(src="/images/wifi-features/more-wifi-features/staying-healthy.png", class='img img-responsive')

      .col-xs-6.text-left
        h2 Speed Tests
        p A slow or 'flapping' broadband connection equals slow and unreliable Wi-Fi. Cucumber Tony will run a speed test on your broadband every night. If it's running too slowly, or the connection is dropping in and out, you'll get an email alert.


    hr#health
    section
     .row

      .col-xs-6.text-left
        h2 Stay Healthy
        p Not everyone knows this, but you're supposed to reboot a Wi-Fi router every few weeks. It's the same as turning your PC on and off - it's gives it a little refresh. Cucumber Tony lets you schedule your Wi-Fi box to reboot itself every day, week or month, so it will always be on it's best behaviour.


      .col-xs-6
        img(src="/images/wifi-features/more-wifi-features/wifi-speed-tests.png", class='img img-responsive')



    include more-features-footer
