extends layout

block content
  section.more-features
    .hero
      .content
        h1 More Stuff to Play With
        h2 Every plan includes our core-features; social logins, captive portal, rocket-powered cloud control and analytics. Peruse all the features below.
       .row
        .hidden-xs
          .col-sm-2
            img(src="../images/blobs/blue.png")
            br
            h4.blobs CREATE
          .col-sm-2
            img(src="../images/blobs/peach.png")
            br
            h4.blobs DESIGN
          .col-sm-2
            img(src="../images/blobs/yellow.png")
            br
            h4.blobs CONFIGURE
          .col-sm-2
            img(src="../images/blobs/green.png")
            br
            h4.blobs SECURE
          .col-sm-2
            img(src="../images/blobs/orange.png")
            br
            h4.blobs MONITOR
          .col-sm-2
            img(src="../images/blobs/pink.png")
            br
            h4.blobs ANALYSE
  hr
  .container
    section
     .row
      .col-xs-12
         h1 Control how your guests connect
         h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      .col-xs-6.text-left
        h2 Pick a login method
        p There are lots of different ways for people to connect.

      .col-xs-6
         img(src="/images/wifi-features/wifi-hotspot-map.png", class='img img-responsive')

    hr
    section
     .row
      .col-xs-6
         img(src="/images/wifi-features/wifi-hotspot-map.png", class='img img-responsive')

      .col-xs-6.text-left
        h2 Table Management
        p Offer users unlimited or timed Wi-Fi.

        p You set how how long people can connect for and once their time has run out they'll be logged off automatically.

        p Once someone's time has expired they'll need to log back on.

        p To manage this you can use a stricter access method for the second login, like a voucher code which encourages people to come to the counter.  Or charge for extra time online.

    hr
    section
     .row

      .col-xs-6.text-left
        h2 Speed Limits
        p Setting a speed limit will help your broadband bandwidth go further by stopping anyone from hogging your bandwidth.

        p Tip: 512 Kbps of bandwidth is about right for browsing the Internet. You'll need 3-5 Mbps to stream video.

      .col-xs-6
         img(src="/images/wifi-features/wifi-hotspot-map.png", class='img img-responsive')

    hr
    section
     .row

      .col-xs-6.text-left
        h2 Your Opening Hours
        p If you open 9am to 5pm, then so should your Wi-Fi hotspot.

        p Cucumber Tony lets you automate when each of your wireless network is available. Your network will be hidden from users when you're closed, and available when you're open.

      .col-xs-6
         img(src="/images/wifi-features/wifi-hotspot-map.png", class='img img-responsive')
    
    include more-features-footer
