.row
  .hidden-xs
    .col-sm-2
      img(src="../images/blobs/blue.png")
      br
      h4.blobs CREATE
    .col-sm-2
      img(src="../images/blobs/peach.png")
      br
      h4.blobs DESIGN
    .col-sm-2
      img(src="../images/blobs/yellow.png")
      br
      h4.blobs CONFIGURE
    .col-sm-2
      img(src="../images/blobs/green.png")
      br
      h4.blobs SECURE
    .col-sm-2
      img(src="../images/blobs/orange.png")
      br
      h4.blobs MONITOR
    .col-sm-2
      img(src="../images/blobs/pink.png")
      br
      h4.blobs ANALYSE
