.hero
  .content
    h1 More Stuff to Play With
    h2
      | Every plan includes our core-features; social logins, captive portal, rocket-powered cloud control and analytics.
      br
      | Peruse all the features below.
      br
      br
    .row
      .hidden-xs
        .col-sm-2
          img(src="../images/blobs/blue.png")
          br
          h4.blobs.create
            a(href='/features/create') CREATE

        .col-sm-2
          img(src="../images/blobs/peach.png")
          br
          h4.blobs.design
            a(href='/features/design') DESIGN

        .col-sm-2
          img(src="../images/blobs/yellow.png")
          br
          h4.blobs.configure
            a(href='/features/configure') CONFIGURE
        .col-sm-2
          img(src="../images/blobs/green.png")
          br
          h4.blobs.secure
            a(href='/features/wifi-security') SECURE
        .col-sm-2
          img(src="../images/blobs/orange.png")
          br
          h4.blobs.monitor
            a(href='/features/monitor') MONITOR
        .col-sm-2
          img(src="../images/blobs/pink.png")
          br
          h4.blobs.analyse
            a(href='/features/analyse') ANALYSE
