hr
section
  .row.text-left
    .col-xs-12
      h1 More Features
    .col-xs-4
      h4 Create
      ul.list-unstyled
        li
          a(href="/features/create", class="") Overview
        li
          a(href="/features/create#locations", class="") Hotspot Locations
        li
          a(href="/features/create#manage", class="") Managing Hardware
        li
          a(href="/features/create#grow", class="") Grow Your Network
        li
          a(href="/features/create#copy", class="") Quick Location Creation

      h4 Secure
      ul.list-unstyled
        li
          a(href="/features/wifi-security", class="") Overview
        li
          a(href="/features/wifi-security#content-filtering", class="") Content Filtering
        li
          a(href="/features/wifi-security#public", class="") Public & Private Access
        li
          a(href="/features/wifi-security#captive-portal", class="") Captive Portal
        li
          a(href="/features/wifi-security#firewall", class="") Firewall Rules-
        li
          a(href="/features/wifi-security#traffic", class="") Traffic Control-
        li
          a(href="/features/wifi-security#safety", class="") Stay Safe Online-
        li
          a(href="/features/wifi-security#block", class="") Blocking Users

    .col-xs-4
      h4 Design
      ul.list-unstyled
        li
          a(href="/features/design#", class="") Overview
        li
          a(href="/features/design#login-pages", class="") Login Pages
        li
          a(href="/features/design#mobile", class="") Mobile Ready
        li
          a(href="/features/design#email-capture", class="") Email Capture--
        li
          a(href="/features/design#socialise", class="") Socialise--
        li
          a(href="/features/design#message", class="") Message

      h4 Monitor
      ul.list-unstyled
        li
          a(href="/features/monitor#usage-reports", class="") Usage Reports
        li
          a(href="/features/monitor#realtime", class="") Realtime Updates
        li
          a(href="/features/monitor#crash-alerts", class="") Crash Alerts
        li
          a(href="/features/monitor#speedtests", class="") Speed Checks
        li
          a(href="/features/monitor#health", class="") Staying Healthy

    .col-xs-4
      h4 Configure
      ul.list-unstyled
        li
          a(href="/features/configure#access", class="") Access Methods
        li
          a(href="/features/configure#timed", class="") Timed Access
        li
          a(href="/features/configure#email", class="") Email Capture---
        li
          a(href="/features/configure#restrictions", class="") Download Limits
        li
          a(href="/features/configure#events", class="") Time of Day Restrictions

      h4 Analyse (Missing)
      ul.list-unstyled
        li
          a(href="/wifi-analytics#peeps", class="") Peeps & Demographics----
        li
          a(href="/wifi-analytics#journeys", class="") Journey Mapping
        li
          a(href="/wifi-analytics#hangouts", class="") Hangouts
        li
          a(href="/wifi-analytics#explorers", class="") Explorers

