hr
section
  .content
    .row.text-left
      .col-xs-12
        h1 More Features
      .col-xs-4
        h4 Create
        ul.list-unstyled
          li
            a(href="#", class="") Hotspot Locations
          li
            a(href="#", class="") Managing Hardware
          li
            a(href="#", class="") Grow Your Network
          li
            a(href="#", class="") Quick Location Creation

        h4 Secure
        ul.list-unstyled
          li
            a(href="#", class="") Public & Private Access
          li
            a(href="#", class="") Firewall Rules
          li
            a(href="#", class="") Traffic Control
          li
            a(href="#", class="") Content Filtering
          li
            a(href="#", class="") Stay Safe Online
          li
            a(href="#", class="") Blocking Users

      .col-xs-4
        h4 Design
        ul.list-unstyled
          li
            a(href="#", class="") Login Pages
          li
            a(href="#", class="") Mobile Ready
          li
            a(href="#", class="") Email Capture
          li
            a(href="#", class="") Socialise
          li
            a(href="#", class="") Message

        h4 Monitor
        ul.list-unstyled
          li
            a(href="#", class="") Usage Reports
          li
            a(href="#", class="") Realtime Updates
          li
            a(href="#", class="") Crash Alerts
          li
            a(href="#", class="") Speed Checks
          li
            a(href="#", class="") Staying Healthy

      .col-xs-4
        h4 Configure
        ul.list-unstyled
          li
            a(href="#", class="") Access Methods
          li
            a(href="#", class="") Timed Access
          li
            a(href="#", class="") Email Capture

            a(href="#", class="") Download Limits
          li
            a(href="#", class="") Time of Day Restrictions

        h4 Analyse
        ul.list-unstyled
          li
            a(href="#", class="") Peeps & Demographics
          li
            a(href="#", class="") Journey Mapping
          li
            a(href="#", class="") Hangouts
          li
            a(href="#", class="") Explorers

