.hero
  .content
    h1 More Stuff to Play With
    h2
      | Every plan includes our core-features; social logins, captive portal, rocket-powered cloud control and analytics.
      br
      | Peruse all the features below.
    br
    br
    ul.list-inline.list-unstyled.list-features
      li
        img(src="../images/blobs/blue.png")
        br
        h4.blobs.create
          a(href='/features/create') CREATE
      li
        img(src="../images/blobs/peach.png")
        br
        h4.blobs.design
          a(href='/features/design') DESIGN

      li
        img(src="../images/blobs/yellow.png")
        br
        h4.blobs.configure
          a(href='/features/configure') CONFIGURE
      li
        img(src="../images/blobs/green.png")
        br
        h4.blobs.secure
          a(href='/features/wifi-security') SECURE
      li
        img(src="../images/blobs/orange.png")
        br
        h4.blobs.monitor
          a(href='/features/monitor') MONITOR
