extends layout

block content
  section
  hr
  .container
    section
     .row
      .col-xs-12
        h1 Match Yourself With The Right Tony
        h4 Every plan includes our core-features; social logins, captive portal, rocket-powered cloud control and analytics
    .row
      div.col-xs-12.col-sm-3.col-md-3.col-lg-3
        ul.pricing-table
          li.title Little Tony
          li.price
            span.price_large
              | &pound;0
              span.price_small /mo
          li.description
            | All the core features plus...
          ul.pricing-table
            li.bullet-item 1 Location
            li.bullet-item 1 Access point
          li.cta-button
            a.btn.btn-success(href='/signup') Go


      div.col-xs-12.col-sm-3.col-md-3.col-lg-3
        ul.pricing-table
          li.title Cousin Tony
          li.price
            span.price_large
              | &pound;12
              span.price_small /mo
          li.description
            | All the core features plus...
          ul.pricing-table
            li.bullet-item 2 Locations
            li.bullet-item 5 Access points
            li.bullet-item Schedule restrictions
          li.cta-button
            a.btn.btn-success(href='/signup') Go

      div.col-xs-12.col-sm-3.col-md-3.col-lg-3
        ul.pricing-table
          li.title Uncle Tony
          li.price
            span.price_large
              | &pound;36
              span.price_small /mo
          li.description
            | All the core features plus...
          ul.pricing-table
            li.bullet-item 30 Locations
            li.bullet-item 30 Access points
            li.bullet-item Schedule restrictions
            li.bullet-item Secondary access
          li.cta-button
            a.btn.btn-success(href='/signup') Go

      div.col-xs-12.col-sm-3.col-md-3.col-lg-3
        ul.pricing-table
          li.title Big Tony
          li.price
            span.price_large
              | &pound;99
              span.price_small /mo
          li.description
            | All the core features plus...
          ul.pricing-table
            li.bullet-item 100 Locations
            li.bullet-item 100 Access points
            li.bullet-item Schedule restrictions
            li.bullet-item Secondary access
            li.bullet-item Management zones
          li.cta-button
            a.btn.btn-success(href='/signup') Go

    .row
      div.col-xs-12
        h3 I want to start doing it with Tony too. How can I get started? Just sign-up for an account using the buttons above.



    hr
    section
     .row
      .col-xs-12
        h4 Developer? Good news, we have a plan for you. Email oh@polkaspots.com to find out if you're eligible. It currently costs &pound;6 per month. Find out more here.


    hr
    section
     .row
      .col-xs-12
        .pricing-table-lg
          h1
            | More Details
          h3 Everything you need to offer awesome Wi-Fi with zero fuss.
          h4 No contracts, simple monthly billing. Change whenever you need to.
          table.table.table-bordered
            tbody
              tr
                th
                th Mini
                th Small
                th Regular
                th Large
              tr
                td
                  | Location count
                td 1
                td 2
                td 30
                td 100
              tr
                td
                  | Hotspot count
                td 1
                td 5
                td 30
                td 100
              tr
                td
                  | Voucher count p/m
                td 250
                td 1,500
                td 5,000
                td 10,000
              tr
                td
                  | Daily session limit
                td 25
                td 500
                td 1,000
                td 10,000
              tr
                td
                  | Admin users
                td 1
                td 1
                td 5
                td 25
              tr
                td
                  | Email Capture
                  // /%span.small By way of MailChimp & Campaign Monitor
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | Port forwarding and firewall rules
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | SMS logins
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | Online shop
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | Multi-level access
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | Events
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | Settings & Location Cloning
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | Device Rollback & Versions
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | Custom CSS
                td
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | External CSS
                td
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | Live chat support
                td
                td
                td
                td
                  i.fa.fa-check-circle-o.fa-lg
              tr
                td
                  | SLA
                td.small 2-3 working days
                td.small 1-2 working days
                td.small 12 hours
                td.small 4-6 hours
              tr
                td
                td
                td
                td
                td
        .pricing-table-lg
          hr
          h1
            | Core Features
          h3
            | Every plan includes our core-features. Social logins, captive portal, rocket-powered cloud control and analytics. You can even capture your customer's emails.
          h4
            | And every plan is alive. Cucumber Tony will notify you when people login or boxes lose connectivity. You can even schedule speedtests to automatically test your broadband.
        .row
          .col-xs-12.col-sm-4.col-md-4.col-lg-4.pricing-table-lg(style='margin-right: 40px;')
            h3 Every plan includes...
            table.table.table-bordered.pricing-table-lg
              tbody
                tr
                  td
                    | Multiple SSIDS
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | Realtime alert
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | Template based login designs
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | Cloud based dashboard
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | Captive portal
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | White label branding
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | Reports & analytics
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | User & device blocking
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | Time & speed limits per user
                  td
                    i.fa.fa-check.fa-lg
                tr
                  td
                    | Broadband health check
                  td
                    i.fa.fa-check.fa-lg

