extends layout

block content
  section
    .row
      .col-xs-12
        h1 Hey Ho, What are you looking for?
        h3 Understand who's using your Wi-Fi without getting creepy. You're not a stalker are you, we hope not.
        #st-results-container
