extends layout

block content
  section.discontinued
    .hero
      h1 Sync Disabled
      h2 We're sorry, we've turned the Internet off
      p For a few minutes, while we push some changes, we have disabled the syncs with your boxes.
      p Don't worry, things will continue to operate. You just can't send changes.
      p See you soon xx
