extends layout

block content
  section.discontinued
    .hero
      h1 Thanks
      h3 Mucho gracias for lending us the following images :)
      hr
      p
        | The lovely library image on the home page came from&nbsp;
        a(href="https://www.flickr.com/photos/15216811@N06/") N i c o l a
      p
        | The equally tasty shot of Look Mum No Hands came from&nbsp;
        a(href="https://www.flickr.com/photos/alper/") Alper Çuğun
        

