extends layout

block content
  section.tony
    .hero
      h1 Hello, I'm Cucumber Tony
      h2 Thousands of people do it with me every day. Here's my resume.

      hr

  .container
    br

    p Born around 2012, I was written from scratch by the nice people at PolkaSpots Supafly Wi-Fi. They wanted to create an affordable way to manage Wi-Fi devices from the cloud. Seems to have been a good idea.

    p I make use of a pile of open-source technologies including Ruby on Rails, NodeJS, MySQL, MongoDB, Elasticsearch and RabbitMQ. I started from a single webserver but have grown into a monster. I span multiple continents, my signal reaches in to space and it's been assumed that an alien might have used me. My favourite momement was when Steve Jobs didn't use me at The Hempel Hotel.

    p
      To help the boxes communicate with me, PolkaSpots also created an&nbsp;
      a(href="/opensource-wifi-firmware") open-source router firmware&nbsp;
      | based on OpenWRT. This is curretnly called Stinky Panda (I don't know why). This allows you to control your devices from any Internet connected device.

    p Every day, I currently look after over a thousand boxes and help 5,000+ unique people get online. That's about 32,000 sessions daily.
    p Some of the people using me include Derby Council and...

    p In my time off, I like to play cricket, socialise with my friends and am currently learning street jazz.

    p If you fancy doing it with me too, you can sign up for a freaking free plan here.
    a(href="/signup" class='btn btn-success btn-large') Do it with me here
    br
    br
    br
    br
