extends layout

block content
  section.discontinued
    .hero
      h1 Hello New Person
      h3 If you're seeing this page, you must have a new box from PolkaSpots :) What's next?

      hr

      p
        | Follow the steps to&nbsp;
        b get your box online&nbsp;
        | and fully functioning:

      ul.list-unstyled
        li
          | Step 1. Create a Cucumber Tony account&nbsp;
          br
          br
          a(href="/signup", class="btn btn-large btn-default") Sign-up Now
          br
          br

        li
          | Step 2. Create a location and add a box. Follow the guides in the&nbsp;
          a(href="https://polkaspots.zendesk.com/hc/en-us/sections/200360677-Getting-Started", class="") help center here.
          br
          br
        li
          | Step 3. Sit back and wait for your box to come online.



