<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="top-bar show-for-medium-up" id="top-nav">
      <section class="left-small show-for-small-only">
        <a href="#" class="left-off-canvas-toggle" >
          <span>
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </span>
        </a>
      </section>

      <ul class="title-area">
        <a href="/">
          <li class="ct-logo">
            <img src="/images/site/polkaspots.svg"></img>
          </li>
        </a>
      </ul>


    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>
