<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="top-bar show-for-medium-up" id="top-nav">
      <section class="left-small show-for-small-only">
        <a href="#" class="left-off-canvas-toggle" >
          <span>
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </span>
        </a>
      </section>

      <ul class="title-area">
        <a href="/">
          <li class="ct-logo">
            <img src="/images/site/polkaspots.svg"></img>
          </li>
        </a>
      </ul>

      <section class="top-bar-section show-for-medium-up">
        <ul class="right">
         <li ng-class="isActive(plans)"><a href="https://cucumberwifi.io/">Cucumber Tony</a></li>
          <li ng-class="isActive(plans)"><a href="/contact">Contact</a></li>
        </ul>
      </section>
    </nav>
    <nav class="tab-bar show-for-small-only" id="top-nav">
      <section class="left-small show-for-small-only">
        <a class="left-off-canvas-toggle" >
          <span>
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </span>
        </a>
      </section>

      <span class="main-nav">
        <ul class="title-area">
          <a href="/#/">
            <li class="ct-logo">
              <img src="/images/site/polkaspots.svg"></img>
            </li>
          </a>
        </ul>
      </span>

    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Menu</label></li>
        <li><a href="https://my.ctapp.io/">Cucumber Tony</a></li>
        <li><a href="https://www.polkaspots.com/contact">Contact</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <!-- <div ng-view autoscroll="true"></div> -->
    </section>
    <a class="exit-off-canvas"></a>
  </div>
</div>
