section {
  min-width: 960px;
  opacity: 0;
}

#easing_wraper {
  width: 100%;
  height: 100%;
}

#easing {
  position: fixed;
  top: 50px;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 1200px;
}

.chevron {
  position: fixed;
  bottom: 50px;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 1200px;
}

.skrollable {
  /* position: fixed; */
  /* z-index: 100; */
}

.loaded section,
.no-js section {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

main {
  overflow-x: hidden;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#slide-1 .bcg {background-image:url("../images/library-original.png")}
#slide-2 .bcg {background: none; background-color: #010101; height: 400px; text-align: center}
#slide-3 .bcg {background-image:url('../images/lookmum.jpg')}

/* Slide 4 */
.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 300%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

#slide-4 .bcg {background-image:url('../images/wifi-analytics/derby-flows.jpg')}

Slide 5
#slide-5 {position: relative;}

#slide-6 .bcg {
  /* background-image:url("../images/library-original.png") */
  background-color: black;
}

#slide-5 .bcg {
  background-image:url('../images/dashboard.png');
  background-size: contain;
  /* z-index: 4; */
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  /* color: #ebebeb; */
  padding: 0 8%;
  text-align: center
}
.hsContent h1 {
  /* color: #ffffff; */
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 12px;
}

.hsContent h2, .copy h2 {
  color: #ffffff;
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 12px;
}

.hsContent p {
  /* width: 450px; */
  margin: 0 auto;
  font-size: 14px;
  /* color: #b2b2b2; */
}

.hsContent h4, .copy h4 {
  font-size: 16px;
  color: #FFF;
}

.hsContent a {
  color: #b2b2b2;
  /* text-decoration: underline; */
}

.bgBlack {
  /* background-color: rgba(0,0,0,0.75); */
  padding: 3px 10px 3px 0;
  color: #b2b2b2;
}

.black {
  color: #000 !important;
}

.skLookMum {
  opacity: 0.6;
  background-color: black;
  text-align: left;
  /* width: 90%; */
  margin: -150px auto 0 auto;
  padding: 40px;
  /* background-image:url("../images/trans-000-60.png"); */
}

section {
  margin-top: 0px;
  margin-bottom: 0px;
}

