.loading {
  display: none;
}

.loaded {
  display: block;
}

section {
  margin-top: 0px;
  margin-bottom: 0px;
  /* min-width: 960px; */
  opacity: 0;
}

#easing_wraper {
  width: 100%;
  height: 100%;
}

#easing {
  position: fixed;
  top: 50px;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 1200px;
}

.chevron {
  position: fixed;
  bottom: 50px;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 1200px;
}

.skrollable {
  /* position: fixed; */
  /* z-index: 100; */
}

.loaded section,
.no-js section {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  -moz-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

main {
  overflow-x: hidden;
}

.bcg {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#slide-1 .bcg {
  background-image:url("../images/library-original-black.jpg")
}

#slide-1 .hsContent {
  color: white;
  /* display: block; */
  /* background-image:url("../images/trans-000-60.png"); */
  /* background-size: 100px 100%; */
}

.hsBanner {
  padding: 50px;
  background-image:url("../images/trans-000-60.png");
  /* margin-right: -100px; */
  /* margin-left: -100px; */
  /* width: 150%; */
}

#slide-2 .bcg {background: none; background-color: #010101; height: 400px; text-align: center}
#slide-3 .bcg {background-image:url('../images/lookmum.jpg')}

/* Slide 4 */
.curtainContainer {width: 100%; height: 100%; position: relative;}
.curtainContainer .curtain {width: 300%; height: 1px; background-color: #000000; position: absolute; top: 25%; left: 0; opacity: 0}
.curtainContainer .copy {position: absolute; bottom: 30%; left: 0; width: 100%; text-align: center;}

#slide-4 .bcg {
  background-image:url('../images/wifi-analytics/derby-flows.jpg')
}

#slide-4 h3 {
  color: white;
}

#slide-5 .bcg {
  background-image:url('../images/wifi-features/wifi-dashboard.png');
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* z-index: 4; */
}

#slide-6 .bcg {
  background-color: black;
}

.hsContainer {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  max-width: 450px;
  margin: -150px auto 0 auto;
  display: table-cell;
  vertical-align: middle;
  /* color: #ebebeb; */
  padding: 0 8%;
  text-align: center
}

.hsContent h1 {
  /* color: #ffffff; */
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 12px;
}

.hsContent h2, .copy h2 {
  color: #ffffff;
  font-size: 45px;
  line-height: 48px;
  margin-bottom: 12px;
}

.hsContent p {
  /* width: 450px; */
  margin: 0 auto;
  /* color: #b2b2b2; */
}

.hsContent h4, .copy h4 {
  font-size: 16px;
  color: #FFF;
}

.hsContent a {
  color: #b2b2b2;
  /* text-decoration: underline; */
}

.bgBlack {
  /* background-color: rgba(0,0,0,0.75); */
  padding: 3px 10px 3px 0;
  color: #b2b2b2;
}

.black {
  color: #000 !important;
}

/* .white { */
/*   color: white!important; */
/* } */

.skLookMum {
  opacity: 0.6;
  background-color: black;
  text-align: left;
  /* width: 90%; */
  margin: -150px auto 0 auto;
  padding: 40px;
  /* background-image:url("../images/trans-000-60.png"); */
}

/* section { */
/* } */

@media only screen and (min-width: 0px) and (max-width: 1024px) {

  body, html {
    height: auto;
    margin: 0 auto;
  }

  p {
    /* font-weight: normal; */
  }

  .bcg {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  section {
    margin: 0px;
  }

  .hsContainer {
    width: 95%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }

  .hsContent {
    margin: 0px 0 0 0;
    padding: 0;
  }

  .hsContent h1 {
    font-weight: 300;
    color: black;
  }

  .hsBanner {
    /* height: 1000px; */
    /* width: 100%; */
    padding: 50px 10px;
    background-image: none;
    margin-left: 0px;
    /* margin-top: 300px; */
  }

  .btn-white-txt {
    color: black;
  }

  #slide-1 h1 {
    font-size: 18px;
    line-height: 24px;
  }

  #slide-1 .bcg {
    background-position: 10% -100px;
    background-size: 1024px auto;
    background-image:url("../images/s")
  }

  #slide-1 .hsContent {
    max-width: 1400px;
    /* bottom: 200px; */
    /* top: auto; */
    /* width: 100px; */
    /* margin: 0 auto; */
    /* height: 1000px; */
  }

  #slide-2 .bcg {
    background: none;
    background-color: #330033;
    height: 400px;
    text-align: center;
  }

  #slide-2 h2 {
    font-size: 33px;
    line-height: 34px;
  }

  #slide-3 {
    /* height: 600px; */
    margin: 0px 0 -20px 0;
    height: 1000px;
  }

  #slide-3 .bcg {
    margin-top: 0px;
    background-position: 10% 0px;
    background-size: cover;
    background-attachment: scroll;
    /* background-size: contain; */
  }

  #slide-3 h2 {
    font-size: 33px;
    line-height: 34px;
  }

  .skLookMum {
    opacity: 0.8;
    background-color: black;
    text-align: left;
    /* width: 90%; */
    margin: 50px auto 0 auto;
    padding: 40px;
  }

  #slide-3 .hsContent {
    /* margin-left: -300px; */
    /* position: relative; */
  }

  #slide-4 {
    position: relative;
    margin: -100px 0 -100px 0;
    height: 700px;
  }

  #slide-4 .bcg {
    background-position: 50% -115px;
    background-size: cover;
    background-attachment: scroll;
  }

  #slide-4 h2 {
    font-size: 33px;
    line-height: 34px;
  }

  #slide-4 h3 {
    color: black;
  }

  .curtainContainer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 135px;
  }

  .curtainContainer .copy {
    position: relative;
    padding: 50px 20px 50px 20px;
    width: 95%;
    bottom: 0%;
    color: #000;
    background-image:url("../images/trans-60.png");
    background-size: auto 100px;
    margin: 0 auto;
  }

  .curtainContainer h2 {
    color: black;
  }

  .curtainContainer h3 {
    color: black;
  }

  #slide-5 {
    position: relative;
  }

  #slide-5 .bcg {
    background-image: none;
    /* background-size: cover; */
    /* background-attachment: scroll; */
  }

  #easing-wrapper {
    margin-top: 0px;
  }

  #easing {
    padding-top: 0px;
    position: relative;
    margin: 0 auto;
    top: 0;
    width: 90%;
    max-width: 1200px;
    height: 400px;
  }

  #slide-6 .hsContent {
    height: 1240px;
  }

  .chevron {
    display: none;
  }
}
